<% include ../partials/boilerplate %>
<div class = 'got-single-container'>
  <div class = 'got-single'>
      <p class= 'char-name'><%= data.name %></p>
      <!--Created if statements to only render each piece of data if it
      exists in the character's entry from the API-->
     <% if (data.culture) { %>
      <p>Culture: <%= data.culture %></p>
      <% } %>
      <% if (data.titles) { %>
      <p>Title: <%= data.titles %></p>
     <% } %>
     <% if (data.aliases) { %>
      <p>Alias: <%= data.aliases %></p>
    <% } %>
    <% if (data.father) { %>
      <p>Father: <%= data.father %></p>
     <% } %>
     <% if (data.mother) { %>
      <p>Mother: <%= data.mother %></p>
     <% } %>
     <% if (data.allegiances) { %>
      <p>Allegiance: <%= data.allegiances %></p>
     <% } %>
     <% if (data.playedby) { %>
      <p>Played By: <%= data.playedby %></p>
    <%  } %>
  <div class = 'linkback'>
    <a class ='seeall' href='/user'>See All Characters</a>
  </div>
  </div>
</div>


<% include ../partials/end %>
