<% include ../partials/boilerplate %>
<div class = 'got-single-container'>
  <div class = 'got-single'>
      <p class= 'char-name'><%= data.name %></p>
      <p><%= data.culture %></p>
      <p><%= data.titles %></p>
      <p><%= data.aliases %></p>
      <p><%= data.father %></p>
      <p><%= data.mother %></p>
      <p><%= data.allegiances %></p>
      <p>Played By: <%= data.playedby %></p>

  <div class = 'linkback'>
    <a class ='seeall' href='/user'>See All Characters</a>
  </div>
  </div>
</div>


<% include ../partials/end %>
