<% include ../partials/boilerplate %>
<div class = 'got-single-container'>
  <div class = 'got-single'>
      <p class= 'char-name'><%= data.name %></p>
     <% if (data.culture) { %>
      <p><%= data.culture %></p>
      <% } %>
      <% if (data.titles) { %>
      <p><%= data.titles %></p>
     <% } %>
     <% if (data.aliases) { %>
      <p><%= data.aliases %></p>
    <% } %>
    <% if (data.father) { %>
      <p><%= data.father %></p>
     <% } %>
     <% if (data.mother) { %>
      <p><%= data.mother %></p>
     <% } %>
     <% if (data.allegiances) { %>
      <p><%= data.allegiances %></p>
     <% } %>
     <% if (data.playedby) { %
      <p>Played By: <%= data.playedby %></p>
    <%  } %>
  <div class = 'linkback'>
    <a class ='seeall' href='/user'>See All Characters</a>
  </div>
  </div>
</div>


<% include ../partials/end %>
